.button {
  @extend %button;

  cursor: pointer;

  padding-block: 22px;
  border: 1px solid $button-main;

  color: $main-color;

  background-color: $button-main;

  @include hover(background-color, $button-hover);
  @include active(background-color, $button-active);
}
