.exhibitions {
  scroll-margin-top: -70px;
  padding-block: 90px 120px;

  @include on-tablet {
    padding-block: 100px 160px;
  }

  @include on-desktop {
    padding-block: 110px 200px;
  }

  &__title {
    @extend %h3;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 50px;

    margin: 0 auto;
    padding-inline: 20px;

    @include on-tablet {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 70px;
      align-items: center;

      padding-inline: 40px;
    }

    @include on-desktop {
      padding-inline: 55px;
    }
  }

  &__layout {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;

    @include on-tablet {
      grid-template-columns: repeat(6, 1fr);
      column-gap: 30px;
    }

    @include on-desktop {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__exhibition {
    display: flex;
    grid-column: 1 / -1;
    flex-direction: column;
    gap: 10px;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__image {
    display: block;

    aspect-ratio: 3 / 4;
    width: 100%;
    height: 100%;

    object-fit: cover;

    @include hover(transform, scale(1.03));

    @include on-desktop {
      height: 484px;
    }
  }

  &__date {
    @extend %main-text;

    color: $button-main;
  }

  &__name {
    @extend %h4;

    margin-block: 10px;
  }

  &__description {
    @extend %main-text;

    margin-bottom: 20px;
    color: $description-color;
  }

  &__button {
    @include on-tablet {
      margin-top: auto;
    }

    @include on-desktop {
      position: relative;
      max-width: 270px;
    }
  }

  &__secondary-button {
    @include on-tablet {
      grid-column: 2;
      grid-row: 1;
    }
  }
}
