.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;

  &__logo {
    display: inline-flex;

    @include hover(transform, scale(1.1));
  }

  &__icons {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  &__icon-menu {
    display: block;

    width: 30px;
    height: 30px;

    background-image: url('../images/icons/icon-menu-burger.svg');
    background-repeat: no-repeat;
    background-position: center;

    @include hover(transform, scale(1.1));
  }

  &__icon-close {
    display: block;

    width: 30px;
    height: 30px;

    background-image: url('../images/icons/icon-menu-close.svg');
    background-repeat: no-repeat;
    background-position: center;

    @include hover(transform, scale(1.1));
  }
}
