$header-footer-background: #3f5252;
$main-color: #f1f5f4;
$text-color: #1c1b29;
$description-color: #504f5e;
$image-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
$button-main: #cd4d31;
$button-hover: #af3419;
$button-active: #ea340d;
$button-disabled: #dd836f;
